.orange-theme {
    --color-base: #000000;
    --color-white: #ffffff;
    --color-primary: #f27013;
    --color-secondary: #f2701314;
    --color-label: #1d2630;
    --color-input: #5b6b79;
    --color-border: #dbe0e5a6;
    --color-link: #cc5206;
    --color-bg: #f7f9fc;
    --color-orange: #f27013;
    --color-yellow: #ffb900;
    --color-green: #008d3a;
    --color-red: #ee3b2f;
  }
.blue-theme {
    --color-base: #000000;
    --color-white: #ffffff;
    --color-primary: #3366ff;
    --color-secondary: #3366ff14;
    --color-label: #1d2630;
    --color-input: #5b6b79;
    --color-border: #dbe0e5a6;
    --color-link: #3366ffe6;
    --color-bg: #f7f9fc;
    --color-orange: #f27013;
    --color-yellow: #ffb900;
    --color-green: #008d3a;
    --color-red: #ee3b2f;
  }